[Unit]
Description=LiveSectional Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /LiveSectional/startup.sh
RemainAfterExit=true
ExecStop=/bin/bash /LiveSectional/shutdown.sh

[Install]
WantedBy=multi-user.target
