[Unit]
Description=LiveSectional Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /LiveSectional/startup.sh
ExecStop=/usr/bin/python /LiveSectional/shutdown.py

[Install]
WantedBy=multi-user.target
